#header-weather {
    color: #63595C;
    font-weight: bold;
}
body {
     background-color: #646881;
}

#weather-result {
    background-color:#BFB1B6;
}

#saved-buttons {
    background-color: #646881 !important;
    border-color: #646881 !important;
}